In [1]:
# question:- 1. Create one variable containing following type of data:   
#(i)   string
#(ii)	list
#(iii)	float
#(iv)	tuple

In [3]:
#ans
str="this is a string data type" # string started double qoute
list=[55,56,"aman",23.5] # list always started squre braecate
float=55.4  # floate containt decimal value
tuple=(55,34,22,"hello") # tuple containt multiple type of data and started with bricete

In [4]:
# question  Given are some following variables containing data:
#(i)  var1 = ‘ ‘
#(ii)	var2 = ‘[ DS , ML , Python]’
#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv)	var4 = 1.
#  What will be the data type of the above given variable.

In [ ]:
1st (string)
2nd (list)
3rd(list)
4th(flote)

In [6]:
#question:-. Explain the use of the following operators using an example:
#(i)	 /
#(ii)    % 
#(iii)	//
#(iv)	**

In [ ]:
#ans
a=10
b=20
a/b
a%b
a//b
a**b

In [ ]:
# question:-4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the

#ans 
k = [22, 55, 65, 47, "hello", 22.5, 123, "kundan", 125]
for i in (k):
    print(type(i))
    print(k[i])

In [21]:
# question:- Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

# ans
k = [22, 55, 65, 47,52,22,11,33,66,44,77,88,99,9,3,12,15,18,21]
for i in k:
    print(i,"this is index ")
    if i%3==0:
        print("its devided by theree")
    else:
        print("this is not devided by theree")

22 this is index
this is not devided by theree
55 this is index
this is not devided by theree
65 this is index
this is not devided by theree
47 this is index
this is not devided by theree
52 this is index
this is not devided by theree
22 this is index
this is not devided by theree
11 this is index
this is not devided by theree
33 this is index
its devided by theree
66 this is index
its devided by theree
44 this is index
this is not devided by theree
77 this is index
this is not devided by theree
88 this is index
this is not devided by theree
99 this is index
its devided by theree
9 this is index
its devided by theree
3 this is index
its devided by theree
12 this is index
its devided by theree
15 this is index
its devided by theree
18 this is index
its devided by theree
21 this is index
its devided by theree

In [ ]:
# Question:- What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

#ans :-
An object that allows you to change its values without changing its identity is a mutable object. The changes that you can perform on a mutable object’s value are known as mutations.