In [ ]:
Q.1 ans:

import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [18]:
Q.1 ans:

df1=pd.DataFrame([1,2,3,4],[5,6,7,8])

In [25]:
df1[0]

5    1
6    2
7    3
8    4
Name: 0, dtype: int64

In [ ]:
Q.2 ans:
    loc:
The loc method is primarily label-based. It is used to select rows and columns based on their ,
labels or indices, rather than their integer positions. It takes two arguments: the row label(s) and 
the column label(s). You can use slices, lists, boolean arrays, or a combination of these to select
rows and columns

iloc:
The iloc method is integer-location based. 
It is used to select rows and columns using integer indices. Similar to loc, 
it takes two arguments: the row index(s) and the column index(s). You can use slices, integer lists, 
and boolean arrays to select rows and columns.

In [ ]:
Q.3 ans:
    
    import pandas as pd


data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)


reindex_order = [3, 0, 1, 2]


new_df = df.reindex(index=reindex_order)


loc_result = new_df.loc[2]      
iloc_result = new_df.iloc[2]    

print("Output for new_df.loc[2]:")
print(loc_result)
print("\nOutput for new_df.iloc[2]:")
print(iloc_result)

In [31]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [32]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.345032  0.300716  0.794027  0.803544  0.228502  0.207305
2  0.285229  0.397064  0.556012  0.718119  0.426971  0.676443
3  0.260041  0.207180  0.564667  0.275794  0.664812  0.179756
4  0.589510  0.935538  0.673250  0.070945  0.645325  0.029517
5  0.423351  0.774969  0.490341  0.214421  0.282852  0.298707
6  0.534714  0.465463  0.116214  0.697098  0.650894  0.827600

In [33]:
Q.4 ans

df1.mean()

column_1    0.406313
column_2    0.513488
column_3    0.532419
column_4    0.463320
column_5    0.483226
column_6    0.369888
dtype: float64

In [ ]:
Q.5 ans