Q.1 ANS

In [11]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q.2 ANS

In [12]:
import pandas as pd

my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
series_from_list = pd.Series(my_list)

print(series_from_list)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

Q.3 ANS

In [13]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q.4 ANS

In [15]:
Q4. A DataFrame in Pandas is a two-dimensional labeled data structure with columns that can hold different data types. 
It can be thought of as a table or a spreadsheet-like data structure. 
Each column in a DataFrame is essentially a Pandas Series. 
The primary difference between a Series and a DataFrame is that a DataFrame can hold multiple columns of data while a Series
is a one-dimensional array-like structure.




import pandas as pd


series_data = pd.Series([10, 20, 30, 40, 50], name='Numbers')

# Creating a DataFrame from the Series
df_from_series = pd.DataFrame(series_data)

print("Series:")
print(series_data)
print("\nDataFrame:")
print(df_from_series)

SyntaxError: invalid syntax (3213156966.py, line 1)